* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  background-image: url('../img/pexels-adam-krypel-64989941.webp');  /*from www.pexels.com*/
  
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#root {
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}


.initial-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #F7F7F7;
  text-shadow: 2px 2px #000000;
  font-weight: 700;
}

.hide {
  display: none !important;
}

@media only screen and (min-width: 769px) {
  #root {
    height: calc(100vh + 5rem);
  }
  .initial-container {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 375px) {
  #root {
    height: calc(100% - 5rem);
    margin-top: 2rem;
  }
}
